<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
<h2>User info</h2>
   <%= image_tag @user.get_profile_image(100,100) %>

   <table class="table">
            <tbody>
              <tr>
              <th>name</th>
              <th><%= @user.name %>
                  </th>
              </tr>
              <tr>
              <th>introduction</th>
              <th></th>
              </tr>
            </tbody>
          </table>
  
    <%= link_to edit_user_path(@user.id) ,class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog" aria-hidden="true"></i>
    <% end %>

 <h2>New Book</h2>
        <%= form_with model: @book, url: '/books', method: :post do |f| %>
        
        <form action="/books" accept-charset="UTF-8" method="post">
          <input type="hidden" name="authenticity_token" autocomplete="off">
          
          <div class="group">
            <label form ="book_title">Title</label>
            <input class="form-control book_title" type="text" name="book[title]" id="book_title">
          </div>
          
          <div class="group">
            <label for ="book_body">Opinion</label>
            <textarea class="form-control book_body" type="text" name="book[body]" id="book_body"></textarea>
          </div>

          <div class="group">
            <input type="submit" name="commit" value="Create Book" class="actions btn btn-sm btn-success" date-disable-with="Create Book">
          </div>

          </form>
        <% end %>
        </div>
  
   <div class="col-md-8 offset-md-1">
   <h2>Users</h2>
        
       
        <table class="table">
          <thead>
          <tr>
          <th></th>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
          </tr>
          </thead>
          
          <tbody>
           
          </tbody>
        </table>
        
        
    </div>
    
    
    
    </div>
    </div>
  
  