<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
        <form enctype="multipart/form-date" action="/users/id" accept charset="UTF-8" method="post">
          <input type = "hidden" name ="_method" value="patch" autocompalte="off">
          
          <div class="form-group">
            <label for = "book_title">Title</label>
            <inout class="form-control book_title" type="text" name = "book[title]" id="book_title">
          </div>
          
          <div class="form-group">
            <label for ="book_body">Opinion</label>
            <textarea class="form-control book_body" name="book[body]" id="book_body">
            </textarea>
          </div>
          
          <div class="form-group">
            <input type="submit" name="commit" value="Update Book" class="btn btn-secondary" date-disable-with="Update Book">
          </div>
          
          
        </form>
    </div>
  </div>
</div>